body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background: #0b5ed7;
    color: white;
    padding: 20px;
    text-align: center;
}

.box {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background: #198754;
    color: white;
    border: none;
    margin-top: 15px;
}

#result {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}
